<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/studyblog/Public/admin/css/ch-ui.admin.css">
	<link rel="stylesheet" href="/studyblog/Public/admin/font/css/font-awesome.min.css">
</head>
<body style="background:#F3F3F4;">
	<div class="login_box">
		<h1>Blog</h1>
		<h2>欢迎使用博客管理平台</h2>
		<div class="form">
			<form action="index.php?p=admin&c=login&a=login" method="post">
				<ul>
					<li>
					<input type="text" name="username" class="text"/>
						<span><i class="fa fa-user"></i></span>
					</li>
					<li>
						<input type="password" name="password" class="text"/>
						<span><i class="fa fa-lock"></i></span>
					</li>
					<li>
						<input type="text" class="code" name="code"/>
						<span><i class="fa fa-check-square-o"></i></span>
						<img src="index.php?p=admin&c=login&a=captcha&t=" onclick="this.src+=Math.random();" alt="">
					</li>
					<li>
						<input type="checkbox" name="remember" value=""/>7天免登录
					</li>
					<li>
						<input type="submit" value="立即登陆"/>
					</li>
				</ul>
			</form>
			<p><a href="index.php?p=admin&c=register&a=register" >用户注册</a></p>
			<p>
				&copy; 2016 Powered by itcast<br />
				<a href="http://www.itcast.cn/" target="_blank">PHP高级开发攻城狮</a>
			</p>
		</div>
	</div>
</body>
</html>