{include file='../common/head.html'}

            <div id="divMain">

        {foreach $listdata as $k=>$v}
            <div class="post multi">
                <h4 class="post-date">{$v.updated_time|date_format:'Y-m-d H:i'}</h4>
                <h2 class="post-title"><a href="index.php?p=home&c=article&a=detail&aid={$v.id}" target="_blank">{$v.title}</a></h2>
                <div class="post-body">
                    {$v.content}
                </div>
                <h5 class="post-tags"></h5>
                <h6 class="post-footer">
                    作者: {$v.author}| 分类:{$v.categoryName} | 阅读:{$v.click} | 赞:{$v.zan} | 评论:{$v.comment}</h6>
            </div>
        {/foreach}

        <div class="pagebar" >
            {$pageStr}
        </div>
    </div>
<div id="divSidebar">
 
    <dl class="function" id="divSearchPanel">
        <dt class="function_t">文章标题搜索</dt>
        <dd class="function_c">

            <div>
                <form name="search" method="post" action="index.php">
                    <input type="text" name="q" size="11" value=""/>
                    <input type="submit" value="搜索" />
                </form>
            </div>


        </dd>
    </dl>
    <dl class="function" id="divCalendar">
        <dt style="display:none;"></dt>
        <dd class="function_c">
            <div></div>
        </dd>
    </dl>

    <dl class="function" id="divCatalog">
    <dt class="function_t">文章分类</dt>
        <dd class="function_c">
            <ul>
                {foreach $categorylist as $k=>$v}
                <li ><a href="index.php?module=Index&c_id=1" target="_blank">{str_repeat('&nbsp;',$v.level*8)}{$v.name}</a></li>
                {/foreach}
            </ul>

        </dd>
    </dl>
    <dl class="function" id="divComments">
    <dt class="function_t">最新留言</dt>
        <dd class="function_c">
            <ul></ul>
       </dd>
    </dl>
    <dl class="function" id="divArchives">
    <dt class="function_t">文章归档</dt><dd class="function_c">


    <ul></ul>

    </dd>
    </dl>
    <dl class="function" id="divFavorites">
    <dt class="function_t">网站收藏</dt><dd class="function_c">


    <ul><li><a href="" target="_blank">myblog社区</a></li><li><a href="" target="_blank">myblog应用中心</a></li></ul>

    </dd>
    </dl>
    <dl class="function" id="divLinkage">
    <dt class="function_t">友情链接</dt><dd class="function_c">


    <ul><li><a href="" target="_blank" title="myblog开源博客系统">myblog官网</a></li></ul>

    </dd>
    </dl>
    <dl class="function" id="divMisc">
    <dt style="display:none;"></dt><dd class="function_c">


    <ul><li><a href="" target="_blank"><img src="/studyblog/Public/home/image/logo/myblog.gif" height="31" width="88" alt="myblog" /></a></li><li><a href="" target="_blank"><img src="image/logo/rss.png" height="31" width="88" alt="订阅本站的 RSS 2.0 新闻聚合" /></a></li></ul>

    </dd>
    </dl>
</div>
		<div id="divBottom">
        	<h3 id="BlogCopyRight">
                                            	Copyright © 2008-2028 PHP150912 All Rights Reserved            </h3>
			<h4 id="BlogPowerBy">Powered by <a href="" title="myblog" target="_blank">myblog V1.0 Release 20151116</a></h4>
		</div><div class="clear"></div>
	</div><div class="clear"></div>
	</div><div class="clear"></div>
</div>
</body>
</html>